<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>processLogin</servlet-name>
        <servlet-class>com.project.userdataflow.processLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processLogout</servlet-name>
        <servlet-class>com.project.userdataflow.processLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>processRegister.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processRegister</servlet-name>
        <servlet-class>com.project.userdataflow.processRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processDao</servlet-name>
        <servlet-class>com.project.userdataflow.processDao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>processLogin</servlet-name>
        <url-pattern>/processLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processLogout</servlet-name>
        <url-pattern>/processLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processRegister</servlet-name>
        <url-pattern>/processRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processDao</servlet-name>
        <url-pattern>/processDao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
